# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Build directories
CPP/7zip/Bundles/*/b/
*/_o/

# Test data and artifacts
*.7z
*.zip
*.tar
*.gz
*.p12
*.pfx
*.pem
*.crt
*.key
**/test*.txt
**/ComprehensiveTestData/
**/extracted/
cert_consistency_test.sh
